doctype
html(lang='en')
  include ./templates/head.pug
  include ./templates/nav-header.pug
  body
    h1=title
    p
      a.button(href='/loans/create') Create New Loan
    p.filters
      | Filters:
      a(href='/loans') All
      |
      a(href='/loans/overdue') Overdue
      |
      a(href='/loans/checked-out') Checked Out
    include ./templates/loan-filter.pug
