doctype
html(lang='en')
  include ./templates/head
  include ./templates/nav-header
  body
    h1 New Patron
    if errors
      h4(style='color:red')="The following points were missing or invalid:"
      ul
        each error in errors.errors
          if error.path == "first_name"
            li(style='color:red') - First name
          if error.path == "last_name"
            li(style='color:red') - Last name
          if error.path == "address"
            li(style='color:red') - Address
          if error.path == "email"
            li(style='color:red') - E-Mail
          if error.path == "library_id"
            li(style='color:red') - Library ID
          if error.path == "zip_code"
            li(style='color:red') - ZIP Code
    form(action="/patrons/create" method="POST")
      p
        label(for='first_name') First Name
        input#first_name(type='text' name="first_name")
      p
        label(for='last_name') Last Name
        input#last_name(type='text' name="last_name")
      p
        label(for='address')  Address
        input#address(type='text' name="address")
      p
        label(for='email') Email
        input#email(type='email' name="email")
      p
        label(for='library_id') Library ID
        input#library_id(type='text' name="library_id")
      p
        label(for='zip_code') Zip Code
        input#zip_code(type='number' name="zip_code")
      p All fields are required.
      p
        input(type='submit', value='Create New Patron')
