doctype
html(lang='en')
  include ./templates/head.pug
  include ./templates/nav-header.pug
  body
    h1 New Book
    if errors
      h4(style='color:red')="There was a problem with the following points:"
      ul
        each error in errors.errors
          if error.path == "title"
            li(style='color:red') - Title
          if error.path == "author"
            li(style='color:red') - Author
          if error.path == "genre"
            li(style='color:red') - Genre
    form(action="/books/create" method="POST")
      p
        label(for='title') Title (*)
        input#title(type='text' name='title')
      p
        label(for='author') Author (*)
        input#author(type='text' name='author')
      p
        label(for='genre') Genre (*)
        input#genre(type='text' name='genre')
      p
        label(for='first_published') First Published
        input#first_published(type='number' name='first_published')
      p Fields marked with a <strong>(*)</strong> are required.
      p
        input(type='submit', value='Create New Book')
