if errors
  h4(style='color:red')="There was a problem with the following points:"
  ul
    each error in errors.errors
      if error.path == "title"
        li(style='color:red') - Title
      if error.path == "author"
        li(style='color:red') - Author
      if error.path == "genre"
        li(style='color:red') - Genre
